header{
 background: rgb(0,0,0);
 padding: 20px 0;
}

body{
 background: #FFFFFF
}

#logosite{
    height: 200px;
    width: 100%;
}

h1{
  text-align: center;
}

.imagemprodutos1{
  height: 250px;
  width: 45%;
  display: inline-block;
  position: relative;
    left: 40px;
}

p{
  text-align: center;
 font-size: 22px;
}

.motosvenda{
  height: auto
  width:100%
}

footer{
 text-align: center;
 background: #000000;
 padding: 40px;
}

.img-footer{
  width: 130px;
  height: auto;
}

.copyright {
  color: #FFFFFF;
  font-size:13px;
  margin: 20px 0 0;
}

h2{
  text-align: center;
}

li{
  text-align: center;
}

#missao {
 font-size: 20px;
 color: rgb(255, 0, 0);
}
