body{
 background: #FFFFFF
}

#logosite{
 height: 200px;
 width: 100%;
}

h1{
  text-align: center
}

p {
  text-align: center
 font-size: 22px
}

#missao{
 font-size: 20px
}

em strong{
  color: red;
}









