body{
 background: #FFFFFF
}

#logosite{
   height: 200px;
   width: 100%;
}

h1{
  text-align: center;
}

#Produtos1{
  height: 200px;
  width: 30%;
}

p{
  text-align: center;
}

h2{
  text-align: center;
}

ul{
  text-align: center;
}

#missao {
 font-size: 20px;
 color: rgb(255, 0, 0);
}
